In [3]:
import pandas as pd

In [4]:
vine_df=pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

-Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

-Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

-If you use the SQL option below, youâ€™ll need to cast your columns as floats using WHERE CAST(helpful_votes AS FLOAT)/CAST(total_votes AS FLOAT) >=0.5.

-Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

-Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid), vine == 'N'.

-Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid).

#NOTE

In [5]:
vine_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [6]:
vine_df2 = vine_df [vine_df["total_votes"]>= 20].copy()

In [7]:
vine_df3= vine_df2 [vine_df2["helpful_votes"]/vine_df2["total_votes"]>= 0.5].copy()

In [8]:
vine_df_y= vine_df3 [vine_df3["vine"]== "Y"].copy()

In [9]:
vine_df_n= vine_df3 [vine_df3["vine"]== "N"].copy()

# Five Star paid reviews

In [11]:
paid_reviews = vine_df_y.shape[0]
paid_reviews

0

In [12]:
non_paid_reviews = vine_df_n.shape[0]
non_paid_reviews

403807

In [13]:
non_paid_five_star_reviews = vine_df_n[vine_df_n["star_rating"]==5].copy()
non_paid_five_star_reviews = non_paid_five_star_reviews.shape[0]
non_paid_five_star_reviews

242889

In [14]:
non_paid_percentage = non_paid_five_star_reviews / non_paid_reviews *100
non_paid_percentage

60.14977452099642